
body {
 background: #ff73d7;
background: linear-gradient(90deg,rgba(255, 115, 215, 1) 0%, rgba(255, 195, 0, 1) 100%);
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.price {
    padding: 5px 0px 0px 5px;
    margin: 1% 10% 1% 10%;
}

h1 {
    font-size: 8vw;
    font-family: "Oswald";
    font-weight: 400;
}

h2 {
    font-size: 2.5vw;
    font-family: "Oswald";
    font-weight: 400;
}

p {
    font-size: 4vw;
    font-family: "Quattrocento", serif;
    font-weight: 700;
    padding: 10px 0px 0px 10px;
    margin: 6% 10% 6% 10%;

}

a {
    color:yellow
}


img {
    max-width: 600px;
}

@media only screen and (max-width: 600px) {
    p {
        font-size: 8vw;
        margin: 10% 5% 10% 5%;
    }
}
